.articleCategoryTitle
{ font-size: 1.8em; color: #404040; font-weight: bold; margin: 0px; padding: 0px; margin-left: 32px; margin-bottom: 12px; }
.articleSubCategoryTitle
{ font-size: 1.4em; text-align: center; margin: 0px; padding: 0px; margin-bottom: 12px;}
.articleSubCategoryTitle a
{ color: #606060; }

.articleContainer
{ 	
	border: none; 
	color: #000000; 
	width: 97%; 
	display: block;
	background-image: url('/styles/redCarpet/components/bar.repeat.png');
	background-position: bottom left;
	background-repeat: repeat-x; padding-bottom: 16px;
	margin: 0px;
	margin-bottom: 24px;
	padding-left: 24px;
	padding-top: 12px;
	padding-bottom: 32px;
	position: relative; }

.articleText
{ vertical-align: top; text-align: left; min-height: 115px; margin: auto; padding-left: 12px; padding-top: 8px; padding-right: 16px; }

.articleText a
{ text-decoration: none; border: none; }

.articleTitle, .articleTitle a
{ margin: auto; font-size: 1.2em; margin-bottom: 10px; color: #000000; }

.articleTitle a:HOVER
{
	color: #aa0000;
}

.articleImageCell
{ 	vertical-align: top;
	background-image: url('/styles/redCarpet/components/article.image.container.png'); 
	background-repeat: no-repeat;
	width: 118px;
	height: 115px; }

.articleImageAnchor
{  }

.articleImage
{ border: none; width: 107px; height: 107px; padding-left: 4px; padding-top: 4px; }

.articleSubHeader
{ font-size: 0.9em; color: #a0a0a0; margin: auto; }

.articleDescription
{ margin: auto; font-size: 1.2em; color: #202020; line-height: 1.6em; }

.articleDescription a
{ color: #aa0000; text-decoration: underline; }

.articleDescription a:hover
{ color: #ff0000; }

.articleContent
{ margin-left: 2%; margin-right: 2%; }

.articleFooter
{ font-size: 0.9em; color: #404040; margin: auto; position: absolute; bottom: 8px; }

.articleReadContainer
{ position: relative; margin: auto; width: 100%; min-height: 140px; }

.articleReadContainerContent
{ 	position: relative;
	font-size: 1.1em;
	margin: auto; 
	margin-right: 16px;
	padding: 0px;
	padding-left: 12px;
	width: 632px; 
	min-height: 140px; 
	text-align: left;
	line-height: 1.6em; }