#center-column
{	width: 90%;
	margin: auto;
	margin-top: 0%;
	margin-left: 49px;
	
	
	text-align: left;
	vertical-align: top; }

#center-column-center
{	width: 50%;
	margin: auto; 
	margin-top: 0%;
	left:20%; 
	
	text-align: left;
	vertical-align: top; }

#center-column-left
{	width: 71%;
	margin: auto;
	margin-top: 0%; 
	left: -11%;
	
	text-align: left;
	vertical-align: top;
	position: relative; }

#center-column-right
{	width: 71%;
	margin: auto; 
	margin-top: 0%;
	right: -9%; 

	text-align: left;
	vertical-align: top;
	position: relative; }
	
.content_title
{padding: 0px; margin: 0px;}

.textAlignCenter
{ text-align: center;}

/* Data table css properties */
.dataTable
{margin-top: 1%; width: 100%;}

.dataHeader
{font-weight: bold; text-align: left; text-transform: uppercase;}
.dataHeaderCell
{background-color: #004466; color: #ffffff; text-align: center;}
.dataHeaderCell:hover
{background-color: #006688; color: #fcffff;}

.dataRow
{background-color: #f6f6f6; color: #404040;}
.dataRow:hover
{background-color: #f9f9f9; color: #000040;}

.dataRowAlt
{background-color: #f0f0f0; color: #404040;}
.dataRowAlt:hover
{background-color: #dddddd; color: #000040;}

.dataCell, .dataCellAlt
{margin: auto; padding: 4px;}
.dataCellImage, .dataCellImageAlt
{width: 150px; border: solid 1px #a0a0a0;}

/* .dataCell, .dataCellAlt
{margin: auto; padding: 4px; padding-top: 8px; padding-bottom: 8px;} */


legend
{ color: #FFFFFF; font-weight: bold; margin-left: -5px; }

.optional
{ color: #888; }

.zend_form fieldset
{ padding: 1em; color: #000000 !important; border: solid 1px #aaa;}
.zend_form fieldset legend
{ color: #000 !important; }

.form-list 
{border: solid 1px #aaa; text-align: right;}

.form-list li 
{list-style-type: none; padding: 0; margin: 0; text-align: right; background-color: #fff;}

.form-list li:hover
{background-color: #def;}

.form-list li label
{float: left;}

.table-data
{border: solid 1px #aaa; width: 100%;}

.table-data .table-header
{background-color: #aaa; font-weight: bold;}

.table-data .table-header th
{padding: 0.4em;}

.table-data .table-row
{background-color: #fff;}

.table-data .table-row td
{padding: 0.4em; cursor: pointer; background-color: #ddd; border-bottom: solid 1px #999;}

.table-data .table-sub-row
{display: none; padding: 0.8em; background-color: #fff;}
.table-data .table-sub-row td
{ padding: 0.4em; border-top: solid 1px #aaa; border-bottom: solid 1px #fff; }

.table-data .table-row:hover
{background-color: #def;}

.loading
{
	padding-left: 1.2em; 
	background-image: url('/styles/redCarpet/components/ajax-loader.gif'); 
	background-repeat: no-repeat; 
	background-position: left center;
}