#footer-bar
	{ width: 100%; 
	  bottom: -83px; 
	  left: 0px; 
	  margin: auto; 
	  position: relative;
	  height: 83px; 
	  color: #ffffff;
	  font-weight: bold;
	  background-repeat: no-repeat;
	  background-image: url('/styles/blissbliss/components/footer/footer.png'); }
