<?xml version="1.0"?>
<zend-config xmlns:zf="http://framework.zend.com/xml/zend-config-xml/1.0/">
  <production>
    <db>
      <hostname>localhost</hostname>
      <username>root</username>
      <password>password</password>
      <database>zrecommerce</database>
      <table_name_prepend>zre_</table_name_prepend>
      <sqlite_directory>%base_path%/application/settings/database/sqlite</sqlite_directory>
    </db>
    <cache>
      <dir>%base_path%/application/cache</dir>
      <lifetime>
        <ui>60</ui>
        <query>60</query>
      </lifetime>
    </cache>
    <search>
      <engine>Lucene</engine>
      <index_directory>%base_path%/tmp</index_directory>
    </search>
    <site>
      <dir>%base_path%</dir>
      <url>local.zrecommerce.com</url>
      <enable_ssl>yes</enable_ssl>
      <local>en_US</local>
      <title>Website Title</title>
      <template>redCarpet</template>
      <jqueryui_theme>smoothness</jqueryui_theme>
      <currency>USD</currency>
      <session_timeout>900</session_timeout>
      <timezone>America/Los_Angeles</timezone>
      <registration_enabled>yes</registration_enabled>
      <memory_limit>64M</memory_limit>
      <max_execution_time>30</max_execution_time>
      <captcha>
        <label>Type the text you see below</label>
        <wordLen>4</wordLen>
        <timeout>100</timeout>
        <font>%base_path%/application/settings/fonts/FreeSans.ttf</font>
        <fontSize>30</fontSize>
        <height>60</height>
        <imgDir>%base_path%/public/images/captcha</imgDir>
        <imgUrl>/images/captcha</imgUrl>
      </captcha>
      <acl_file></acl_file>
      <ssl_port>443</ssl_port>
      <image_folder_url>/images</image_folder_url>
    </site>
    <merchant>
      <google>
        <merchant_id>000000000000000</merchant_id>
        <merchant_key>ffffffffffffffffffffff</merchant_key>
      </google>
      <paypal>
        <api_user_name>atest123_api1.fake.com</api_user_name>
        <api_password>fffffffffffffff</api_password>
        <api_signature>000000000000000</api_signature>
      </paypal>
      <cybersource>
        <merchant_id>aalbino</merchant_id>
        <transaction_key>ERymPry8q4CQK3DKdMA37950cwFRP0ehiegw42xOIJqkL/SBzBCyP3vEOuRYPOYArrEN1s1iqB+IKSO0enfz+zgtPSuuhp3GfXNZygsJ9qI++VlaL29HO8X7Rb6mBDidoPYGx81CzpygZKXt95gT0jZVGVbRBG/57OpBJ905QRVNkctXxTZw5dGRzCX0RJJndHMBUT9HoYnoMONsTiCapC/0gcwQsj97xDrkWDzmAK6xDdbNYqgfiCkjtHp38/s4LT0rroadxn1zWcoLCfaiPvlZWi9vRzvF+0W+pgQ4naD2BsfNQs6coGSl7feYE9I2VRlW0QRv+ezqQSfdOUEVqQ==</transaction_key>
        <wsdl_url>https://ics2ws.ic3.com/commerce/1.x/transactionProcessor/CyberSourceTransaction_1.26.wsdl</wsdl_url>
      </cybersource>
    </merchant>
    <shipping>
      <ups/>
      <usps/>
      <fedex/>
    </shipping>
  </production>
  <dev zf:extends="production">
    <merchant>
      <google>
        <merchant_id>000000000000000</merchant_id>
        <merchant_key>ffffffffffffffffffffff</merchant_key>
      </google>
      <paypal>
        <api_user_name>atest123_api1.fake.com</api_user_name>
        <api_password>fffffffffffffff</api_password>
        <api_signature>000000000000000</api_signature>
      </paypal>
      <cybersource>
        <merchant_id>aalbino</merchant_id>
        <transaction_key>ERymPry8q4CQK3DKdMA37950cwFRP0ehiegw42xOIJqkL/SBzBCyP3vEOuRYPOYArrEN1s1iqB+IKSO0enfz+zgtPSuuhp3GfXNZygsJ9qI++VlaL29HO8X7Rb6mBDidoPYGx81CzpygZKXt95gT0jZVGVbRBG/57OpBJ905QRVNkctXxTZw5dGRzCX0RJJndHMBUT9HoYnoMONsTiCapC/0gcwQsj97xDrkWDzmAK6xDdbNYqgfiCkjtHp38/s4LT0rroadxn1zWcoLCfaiPvlZWi9vRzvF+0W+pgQ4naD2BsfNQs6coGSl7feYE9I2VRlW0QRv+ezqQSfdOUEVqQ==</transaction_key>
        <wsdl_url>https://ics2wstest.ic3.com/commerce/1.x/transactionProcessor/CyberSourceTransaction_1.26.wsdl</wsdl_url>
      </cybersource>
    </merchant>
    <shipping>
      <ups/>
      <usps/>
      <fedex/>
    </shipping>
  </dev>
  <runmode>
    <use>dev</use>
    <base_path>C:\Users\Alex\Zend\workspaces\DefaultWorkspace7\zrecommerce-git\ZRECommerce</base_path>
  </runmode>
</zend-config>
