/*  
	Import the default dojo.css script (It does a lot of the reset
	work for us)
	
*/


body
{
	margin: 0px; 
	padding: 0px; 
	background-image: url('/styles/blissbliss/components/background.png');
	font-size: 0.8em;
}

#body-content-span
				{ width: 100%; text-align: center; 
				  background-repeat: repeat-x;
				  background-image: url('/styles/blissbliss/components/header/header.repeat.png');
				  background-position: top center; padding-top: 24px; }
#body-content-wrapper 
				{ width: 666px; 
				  position: relative; 
				  color: #000000; 
				  background-image: url('/styles/blissbliss/components/body.png'); 
				  height: 101%; 
				  margin: auto;}

#body-content-wrapper input, 
#body-content-wrapper select, 
#body-content-wrapper button, 
#body-content-wrapper textarea,
#body-content-wrapper fieldset
				{ color: #000000; }
				  
.align-left 	{ position: absolute; left: 0px; }
.align-right 	{ position: absolute; right: 0px; }

.no-fluf 		{ margin: 0px; padding: 0px;  }
.fluf-left
				{ margin-left: 8px;}

.float-box-left	{ margin: auto; float: left;  }
.float-box-right{ margin: auto; float: right; }

.text-left {text-align: left;}
.text-right {text-align: right;}
.no-bullets {list-style: none;}
.small-text {font-size: smaller;}
.monotype {font-family: monospace !important; font-size: 1.2em !important;}
.h1 {font-size: 2.2em !important; font-weight: bold;}
.h2 {font-size: 2.0em !important; font-weight: bold;}
.h3 {font-size: 1.8em !important; font-weight: bold;}
.h4 {font-size: 1.6em !important; font-weight: bold;}
.h5 {font-size: 1.4em !important; font-weight: bold;}
.h6 {font-size: 1.2em !important; font-weight: bold;}

.tool-bar
				{ background-color: #f0f0ff; margin-top: 4px; }

.errors
	{ color: #990000; font-size: 0.8em; }
.ok
	{ color: #009900; font-size: 1.0em; font-weight: bold;}
.required
	{ color: #555; }
.not_required
	{ color: #00b4ff; }
	
input
{ color: #000000; }

/* Override the default location of our tableSort 'sort' select */
.table-sort-order {float: right; margin: auto; padding: inherit;}

/* Override the default paginator appearance */
.paginator-link {text-decoration: none;}
.paginator-link:hover {text-decoration: underline;}
.paginator-this-link {font-weight: bold;}
